body {
	background-color: #000000;
	width: 850px;
	margin-left: auto;
	margin-right: auto;
}

#wrap {
	background-color: #4A3D7F;
	padding-bottom: 75px;
	padding-left: 50px;
	padding-right: 50px;
	width: 700px;
	overflow: hidden;
	position: absolute;
} 

#nav {
	background-color: #B0D6FF;
	font-family: Arial;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 262px;
	margin-bottom: -80px;
	float: left;
	align-content: center;
	width: 22%;

}

#content {
	background-color: #6C77CC;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 0px;
	font-family: Arial;
	text-align: center;
	overflow: hidden;
	margin: 0 0 0 22%;

}

#content ul {
	list-style: none;
}

.copyright {
	clear: both;
	background-color: #4A3D7F;
	position: absolute;

}